@{
    ViewBag.Title = "Home Page";

}

<form style="width: 280px;">
    <div class="form-group">
        <label for="inputCreditSum">Credit amount:</label>
        <input id="inputCreditSum" type="text" class="form-control focus" autofocus="autofocus" placeholder="Enter credit amount">
    </div>
    <div class="form-group">
        <label for="inputCreditPeriod">Credit term:</label>
        <input id="inputCreditPeriod" type="text" class="form-control" placeholder="Enter credit term">
    </div>
    <div class="form-group">
        <label for="inputCreditRate">Interest rate:</label>
        <input id="inputCreditRate" type="text" class="form-control" placeholder="Enter interest rate">
    </div>
    <p><a class="btn btn-info btn-lg col-lg-12" href="/Home/CalculateCredit"  style="margin-top: 6px">Calculate</a></p>
</form>