
@{
    ViewBag.Title = "Result Page";
}

<table class="table w-60">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Payment date</th>
            <th scope="col">Body payment amount</th>
            <th scope="col">Interest payment amount</th>
            <th scope="col">Balance of main debt</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>mdo</td>
        </tr>
    </tbody>
</table>