body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    margin-top: 6px;
    max-width: 326px;
}

label {
    color: #565454;
    font-family: 'Comfortaa', cursive;
    font-size: 17px;
}

/*table{
    text-align: center;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.block-alignment {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-inverse {
    background: linear-gradient(to top right, #403a3a, #797878);
    border-color: #312e2e;
}

.navbar-inverse .navbar-brand {
    color: #ffd800;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}

.navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #f8eba1;
    background-color: transparent
}

.jumbotron {
    min-width: 1100px;
    min-height: 480px;
    background-color: #dbd1d1;
    position: relative;
}

.h-70 {
    height: 70vh !important;
}

.form-control {
    width: 326px;
    height: 40px;
}

.w-70 {
    width: 70vw;
}

.prettyprint {
    color: #565454;
    background-color: #fef4be;
    font-family: 'Comfortaa', cursive;
    font-size: 1.4rem;
}

.pre-scrollable {
    margin-top: 10px;
    max-height: 335px;
    overflow-y: scroll;
}